*,*:before, *:after {
  box-sizing: border-box;
}

.background {
  background-image: url(./pics/background.jpg);
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* margin: 5px; */
}

.img {
  display: block;
  margin: 0 auto;
}

form {
  width:400px;
}

.page {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.form_group {
  margin-top: 5px;
  margin-bottom: 5px;
}



.input {
  width: 50%;
  height: 30px;
  padding: 0 10px;
  border: 0.5px inset grey;
  outline: 0;
  border-radius: 4px;
  background-image: linear-gradient(to right, white, whitesmoke);
}

.input.error {
  color:red;
  border-color:red;
}

.input::placeholder {
  color: 	#A9A9A9;
}


.checkbox__label {
  user-select: none;
  cursor:pointer;
}

.checkbox__input.error + .checkbox__label {
  color:red;
}

.btn {
  height: 30px;
  padding: 0 80px;
  display:flex;
  align-items:center;
  justify-content:center;
  align-content: center;
  background-image: linear-gradient(to left, darkred, sienna);
  width:100%;
  cursor:pointer;
  outline: 2px solid sienna; border-radius: 2px;
}

.btn:hover {
  color: wheat;
}

.btn:hover:active {
  color: darkred;
  background-image: linear-gradient(to right, white, #FFE4C4);
}

