.background2 {
  background-image: url(./../pics/back-round-1.jpg);
  height: 100%;
  min-width: 100%;
  background-position: left bottom;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
.display {
  width: 100%;
  height: 100%;
}

section {
  text-align: center;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonAttack {
  color: red;
  font-size: 24px;
  border-radius: 8px;
  border: 5px solid #f6705a; 
  padding: 10px 100px;
  margin: auto;
  box-shadow: 0px 8px #999;
}

.buttonAttack:hover {
  transform: translateY(-4px);
  background: tomato;
  color: wheat;
}

.buttonAttack:hover:active {
  background: red;
  color: white;
  box-shadow: 0px 4px #666;
  transform: translateY(4px);
}

.count {
  font-size: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  color: red;
}

.backToPreviousPage {
  display:flex;
  align-self: flex-end;
  color: #3e8e41;
  font-size: 24px;
  border-radius: 8px;
  border: 5px solid #3e8e41;
  padding: 10px 40px;
  margin: auto;
  box-shadow: 0px 8px #999;
}

.backToPreviousPage:hover {
  background: #3e8e41;
  color: wheat;
  transform: translateY(-4px);
}

.backToPreviousPage:hover:active {
  background: green;
  color: white;
  box-shadow: 0px 4px #666;
  transform: translateY(4px);
}

#btn-back {
  display:flex;
  align-items:center;
  padding-bottom: 15px;
}

.clk {
  width: 180px;
  text-align: right;
}

/* section {
  position:absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
} */

.monster {
  top: 0;
  right: 0;
  display: none;
}

.monster.effect {
  display: block;
}

.monster-image {
  max-height: 75vh;
}